body {
  background-image: url('https://i.imgur.com/102rQk1.jpg');
  font-family: 'Raleway', sans-serif;
  background-size: cover;
}
#login img{
  margin: 10px 0;
}
#login .center {
  text-align: center;
  max-height: 382px;
}

#login .login {
  max-width: 325px;
  margin: 30px auto;
}

#login .row-fluid {
  max-height: 382px;
}

#login .login-form{
padding:0px 20px;
}

#login h1 {
  margin-bottom: 15px;
}

#login input{
  height: 30px;
}
hr{
  width: 300px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin: 0 auto;
}
h1{ display: inline:block; }
a{ display: inline:block; }
span{ display: inline:block; }
