{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="static/login.css">
    <body>
        <div id="login" class="container">
            <div class="row-fluid">
                <div class="span12">
                    <div class="login well well-small">
                        <div class="center">
                            <h1>RUMS</h1>
                            <h2>Sign In</h2>
                            {{ wtf.quick_form(form) }}
                            <p>Forgot Your Password?
                              <a href="{{ url_for('authentication.reset_password_request') }}">Reset Password</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
