{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(document).ready(function() {
          $('a#flexi').bind('click', function(e) {
            // prevent form submitting when clicking update flexi button
            e.preventDefault()
            $.getJSON('/update_flexi/{{ current_user.employee_id }}',
              function(data) {
            });
            // Introduce small wait time to prevent broken pipe error
            setTimeout(function(){location.reload();},300);
          });
        });
</script>

    <h1>Hi, {{ current_user.username }}!</h1>
    <div class="row">
        <div class="col-md-4">
          <span title="hover text">
            1. Choose a clock entry from the drop down list.
            2. Enter the time you wish to record in the box in 24 hour format.
            NOTE: If you wish to enter the current time, leave the default time
               in the box as '00:00'.
            3. To record for today, leave the date as it is. If you would like to
               enter a time for another day or correct a previously entered time, just choose the
                relevant date.
          </span>
            {{ wtf.quick_form(form) }}
        </div>
        <div class="col-md-4">
            <br>
        </div>
        <div class='container' align='center'>
            <form>
                <h3> Flexi </h3>
                <h2> {{flexi}} </h2>
                <h5>Hours : Minutes</h5>
                <a href=# id=flexi><button class='btn btn-default'>Update</button></a>
            </form>

        </div>


    </div>
{% endblock %}
