{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if user == current_user %}
    <p><a href="{{ url_for('edit_profile') }}">Edit your information</a></p>
    {% endif %}
    <table>
    <tr valign="top">
        <td>
            <h1>{{ user.name }}</h1>
            {% if user.email %}<p>{{ user.email }}</p>{% endif %}
            {% if user.address1 %}<p>{{ user.address1 }}</p>{% endif %}
            {% if user.address2 %}<p>{{ user.address2 }}</p>{% endif %}
            {% if user.address3 %}<p>{{ user.address3 }}</p>{% endif %}
            {% if user.postcode %}<p>{{ user.postcode }}</p>{% endif %}
            {% if user.phone_number %}<p>{{ user.phone_number }}</p>{% endif %}
            {% if user.date_of_birth %}<p>{{ user.date_of_birth }}</p>{% endif %}
        </td>
    </tr>
</table>
{% endblock %}
