{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    {% if user == current_user %}
    <p><a href="{{ url_for('main.edit_profile') }}">Edit your information</a></p>
    {% endif %}
    <table>
    <tr valign="top">
        <td>
            <h1>{{ user.name }}</h1>
            {% if user.email %}<p>{{ user.email }}</p>{% endif %}
            {% if user.address1 %}<p>{{ user.address1 }}</p>{% endif %}
            {% if user.address2 %}<p>{{ user.address2 }}</p>{% endif %}
            {% if user.address3 %}<p>{{ user.address3 }}</p>{% endif %}
            {% if user.postcode %}<p>{{ user.postcode }}</p>{% endif %}
            {% if user.phone_number %}<p>{{ user.phone_number }}</p>{% endif %}
            {% if user.date_of_birth %}<p>{{ user.date_of_birth }}</p>{% endif %}
        </td>
    </tr>
</table>
{% endblock %}
